<a href="https://colab.research.google.com/github/KattaLasya/2303A51724_B11_PDS/blob/main/Lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

QUESTION 1

In [2]:
import pandas as pd

# Step 1: Read the CSV file
df = pd.read_csv('student_scores.csv')

# Step 2: Fill missing values with column-wise average
df_filled = df.copy()
df_filled[['Math', 'Science', 'English']] = df[['Math', 'Science', 'English']].fillna(df[['Math', 'Science', 'English']].mean())

# Step 3: Filter students who scored more than 75 in all subjects
high_achievers = df_filled[
    (df_filled['Math'] > 75) &
    (df_filled['Science'] > 75) &
    (df_filled['English'] > 75)
]

# Step 4: Display the high achievers
print("High Achievers (All subjects > 75):")
print(high_achievers)

High Achievers (All subjects > 75):
   Student_ID   Name    Math  Science  English
0           1   John  78.000    85.00     92.0
1           2   Jane  90.000    83.25     88.0
4           5   Mary  88.000    91.00     95.0
6           7   Lisa  95.000    96.00     93.0
7           8  Steve  85.000    78.00     84.0
8           9   Nina  80.625    89.00     84.0
9          10    Raj  77.000    83.25     76.0

QUESTION 2

In [5]:
import pandas as pd

# Load the dataset
df = pd.read_csv('patients.csv')

# Replace missing Age values with median (safe way)
median_age = df['Age'].median()
df['Age'] = df['Age'].fillna(median_age)

# Filter elderly female patients diagnosed with Diabetes
filtered_df = df[
    (df['Gender'].str.lower() == 'female') &
    (df['Age'] > 50) &
    (df['Diagnosis'].str.lower() == 'diabetes')
]

# Display the result
print("Elderly Female Patients with Diabetes:")
print(filtered_df)

Elderly Female Patients with Diabetes:
   Patient_ID         Name   Age  Gender Diagnosis Admission_Date
0           1  Alice Smith  65.0  Female  Diabetes     2023-01-12
2           3  Clara Adams  55.5  Female  Diabetes     2023-03-15
5           6    Grace Lee  72.0  Female  Diabetes     2023-06-18
6           7     Helen Wu  55.5  Female  Diabetes     2023-07-22
8           9   Joan Green  51.0  Female  Diabetes     2023-09-01