<a href="https://colab.research.google.com/github/KattaLasya/2303A51724_B11_PDS/blob/main/Lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

QUESTION 1

In [4]:
 import pandas as pd
 data = {
    'Invoice_No': [1001, 1002, 1003, 1004, 1005],
    'Customer_Name': ['Raju', 'Ramu', 'Ravi', 'Teja', 'Ramesh'],
    'Product': ['Widget', 'Gadget', None, 'Widget', 'Widget'],
    'Quantity': [5, None, 10, 20, 2],
    'Price': [200, 150, 250, None, 300],
    'Total': [1000, None, None, 4000, 600]
 }
 df = pd.DataFrame(data)
 df.to_csv('sales_data.csv', index=False)
print("Sample sales_data.csv file has been created.")

Sample sales_data.csv file has been created.

In [6]:
df = pd.read_csv('sales_data.csv')
df_clean = df.dropna(subset=['Product', 'Quantity']).copy()
mean_price = df_clean['Price'].mean()
df_clean.loc[:, 'Price'] = df_clean['Price'].fillna(mean_price)
df_clean.loc[:, 'Total'] = df_clean.apply(
   lambda row: row['Quantity'] * row['Price'] if pd.isnull(row['Total']) else row['Total'],
   axis=1
)
print("Cleaned sales data with missing Price filled and Total calculated:")
print(df_clean)

Cleaned sales data with missing Price filled and Total calculated:
   Invoice_No Customer_Name Product  Quantity  Price   Total
0        1001          Raju  Widget       5.0  200.0  1000.0
3        1004          Teja  Widget      20.0  250.0  4000.0
4        1005        Ramesh  Widget       2.0  300.0   600.0

In [7]:
 large_transactions = df_clean[df_clean['Total'] > 1000]
 print("\nRecords with Total > 1000:")
 print(large_transactions)

Records with Total > 1000:
   Invoice_No Customer_Name Product  Quantity  Price   Total
3        1004          Teja  Widget      20.0  250.0  4000.0

QUESTION 2

In [10]:
data = {
    "Applicant_ID": [101, 102, 103, 104, 105, 106],
    "Name": ["Charmi", "Roshi", "Sathwika", "Lasya", "Vyshnavi", "Sowmya"],
    "Degree": ["B.Tech", "MCA", "B.Sc", "M.Tech", "BCA", "B.Tech"],
    "Experience_Years": [3, 4, 5, 1, None, None],
    "Python_Score": [85, 86, None, 92, 88, 95],
    "Status": ["Pending", "Pending", "Pending", "Pending", "Pending", "Pending"]
 }
df = pd.DataFrame(data)
df.to_csv("applicants.csv", index=False)
print("applicants.csv file created successfully!")
print(df)

applicants.csv file created successfully!
   Applicant_ID      Name  Degree  Experience_Years  Python_Score   Status
0           101    Charmi  B.Tech               3.0          85.0  Pending
1           102     Roshi     MCA               4.0          86.0  Pending
2           103  Sathwika    B.Sc               5.0           NaN  Pending
3           104     Lasya  M.Tech               1.0          92.0  Pending
4           105  Vyshnavi     BCA               NaN          88.0  Pending
5           106    Sowmya  B.Tech               NaN          95.0  Pending

In [12]:
df = pd.read_csv("applicants.csv")
df = df.dropna(subset=["Python_Score"])
df["Experience_Years"] = df["Experience_Years"].fillna(0)
filtered_df = df[(df["Python_Score"] > 80) & (df["Experience_Years"] > 2)]
filtered_df.to_csv("filtered_applicants.csv", index=False)
print("Filtered Applicants:")
print(filtered_df)

Filtered Applicants:
   Applicant_ID    Name  Degree  Experience_Years  Python_Score   Status
0           101  Charmi  B.Tech               3.0          85.0  Pending
1           102   Roshi     MCA               4.0          86.0  Pending