<a href="https://colab.research.google.com/github/KattaLasya/2303A51724_B11_PDS/blob/main/Lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

QUESTION 3

In [1]:
import pandas as pd

products_data = {
    'product_id': [101, 102, 103, 104, 105],
    'product_name': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Chair'],
    'category': ['Electronics', 'Accessories', 'Accessories', 'Electronics', 'Furniture'],
    'price': [1000, 25, 45, 200, 150]
}
products_df = pd.DataFrame(products_data)

sales_data = {
    'sale_id': [1, 2, 3, 4, 5, 6, 7],
    'product_id': [101, 102, 103, 101, 104, 106, 105],
    'quantity': [2, 5, 3, 1, 4, 2, 6]
}
sales_df = pd.DataFrame(sales_data)

merged_inner = pd.merge(sales_df, products_df, on='product_id', how='inner')
merged_outer = pd.merge(sales_df, products_df, on='product_id', how='outer')

merged_inner['revenue'] = merged_inner['quantity'] * merged_inner['price']

total_revenue = merged_inner['revenue'].sum()
average_price = products_df['price'].mean()

product_sales = merged_inner.groupby('product_name').agg(
    total_quantity_sold=pd.NamedAgg(column='quantity', aggfunc='sum'),
    total_revenue=pd.NamedAgg(column='revenue', aggfunc='sum')
).reset_index()

category_sales = merged_inner.groupby('category').agg(
    total_revenue=pd.NamedAgg(column='revenue', aggfunc='sum')
).reset_index()

best_category = category_sales.sort_values(by='total_revenue', ascending=False).iloc[0]

print("Products Dataset:\n", products_df)
print("\nSales Dataset:\n", sales_df)
print("\nMerged Dataset (Inner Join):\n", merged_inner)
print("\nMerged Dataset (Outer Join):\n", merged_outer)
print("\nTotal Revenue: $", total_revenue)
print("Average Product Price: $", round(average_price, 2))
print("\nProduct-wise Sales:\n", product_sales)
print("\nCategory-wise Revenue:\n", category_sales)
print("\nBest-Selling Category:", best_category['category'], "with revenue $", best_category['total_revenue'])

Products Dataset:
    product_id product_name     category  price
0         101       Laptop  Electronics   1000
1         102        Mouse  Accessories     25
2         103     Keyboard  Accessories     45
3         104      Monitor  Electronics    200
4         105        Chair    Furniture    150

Sales Dataset:
    sale_id  product_id  quantity
0        1         101         2
1        2         102         5
2        3         103         3
3        4         101         1
4        5         104         4
5        6         106         2
6        7         105         6

Merged Dataset (Inner Join):
    sale_id  product_id  quantity product_name     category  price  revenue
0        1         101         2       Laptop  Electronics   1000     2000
1        2         102         5        Mouse  Accessories     25      125
2        3         103         3     Keyboard  Accessories     45      135
3        4         101         1       Laptop  Electronics   1000     1000
4        5         104         4      Monitor  Electronics    200      800
5        7         105         6        Chair    Furniture    150      900

Merged Dataset (Outer Join):
    sale_id  product_id  quantity product_name     category   price
0        1         101         2       Laptop  Electronics  1000.0
1        4         101         1       Laptop  Electronics  1000.0
2        2         102         5        Mouse  Accessories    25.0
3        3         103         3     Keyboard  Accessories    45.0
4        5         104         4      Monitor  Electronics   200.0
5        7         105         6        Chair    Furniture   150.0
6        6         106         2          NaN          NaN     NaN

Total Revenue: $ 4960
Average Product Price: $ 284.0

Product-wise Sales:
   product_name  total_quantity_sold  total_revenue
0        Chair                    6            900
1     Keyboard                    3            135
2       Laptop                    3           3000
3      Monitor                    4            800
4        Mouse                    5            125

Category-wise Revenue:
       category  total_revenue
0  Accessories            260
1  Electronics           3800
2    Furniture            900

Best-Selling Category: Electronics with revenue $ 3800

QUESTION 4

In [2]:
import pandas as pd

teachers_data = {
    'teacher_id': [1, 2, 3, 4, 5],
    'teacher_name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'department': ['Math', 'Science', 'Math', 'History', 'Science']
}
teachers_df = pd.DataFrame(teachers_data)

courses_data = {
    'course_id': [101, 102, 103, 104, 105, 106, 107],
    'course_name': ['Algebra', 'Biology', 'Geometry', 'World History', 'Chemistry', 'Physics', 'Statistics'],
    'teacher_id': [1, 2, 1, 4, 2, 2, 3],
    'hours_per_week': [4, 3, 5, 3, 4, 2, 6]
}
courses_df = pd.DataFrame(courses_data)

merged_inner = pd.merge(courses_df, teachers_df, on='teacher_id', how='inner')
merged_left = pd.merge(teachers_df, courses_df, on='teacher_id', how='left')

courses_per_teacher = merged_inner.groupby('teacher_id').size().mean()

department_workload = merged_inner.groupby('department').agg(
    total_hours=pd.NamedAgg(column='hours_per_week', aggfunc='sum')
).reset_index()

print("Teachers Dataset:\n", teachers_df)
print("\nCourses Dataset:\n", courses_df)
print("\nMerged Dataset (Inner Join):\n", merged_inner)
print("\nMerged Dataset (Left Join):\n", merged_left)
print("\nAverage Courses per Teacher:", round(courses_per_teacher, 2))
print("\nDepartment-wise Workload:\n", department_workload)

Teachers Dataset:
    teacher_id teacher_name department
0           1        Alice       Math
1           2          Bob    Science
2           3      Charlie       Math
3           4        David    History
4           5          Eva    Science

Courses Dataset:
    course_id    course_name  teacher_id  hours_per_week
0        101        Algebra           1               4
1        102        Biology           2               3
2        103       Geometry           1               5
3        104  World History           4               3
4        105      Chemistry           2               4
5        106        Physics           2               2
6        107     Statistics           3               6

Merged Dataset (Inner Join):
    course_id    course_name  teacher_id  hours_per_week teacher_name  \
0        101        Algebra           1               4        Alice
1        102        Biology           2               3          Bob
2        103       Geometry           1               5        Alice
3        104  World History           4               3        David
4        105      Chemistry           2               4          Bob
5        106        Physics           2               2          Bob
6        107     Statistics           3               6      Charlie

  department
0       Math
1    Science
2       Math
3    History
4    Science
5    Science
6       Math

Merged Dataset (Left Join):
    teacher_id teacher_name department  course_id    course_name  \
0           1        Alice       Math      101.0        Algebra
1           1        Alice       Math      103.0       Geometry
2           2          Bob    Science      102.0        Biology
3           2          Bob    Science      105.0      Chemistry
4           2          Bob    Science      106.0        Physics
5           3      Charlie       Math      107.0     Statistics
6           4        David    History      104.0  World History
7           5          Eva    Science        NaN            NaN

   hours_per_week
0             4.0
1             5.0
2             3.0
3             4.0
4             2.0
5             6.0
6             3.0
7             NaN

Average Courses per Teacher: 1.75

Department-wise Workload:
   department  total_hours
0    History            3
1       Math           15
2    Science            9