<a href="https://colab.research.google.com/github/KattaLasya/2303A51724_B11_PDS/blob/main/Lab6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

QUESTION 3

In [1]:
import pandas as pd

data = {
    'TransactionID': [101, 102, 103, 104, 104, 105, 106, 106],
    'Customer': ['Alice', 'Bob', 'Charlie', 'David', 'David', 'Eve', 'Frank', 'Frank'],
    'Amount': [250, 150, 300, 400, 400, 500, 600, 600],
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
             '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-06']
}

df = pd.DataFrame(data)
print("Original Dataset:\n", df)
print("\nNumber of duplicate rows:", df.duplicated().sum())

df_cleaned = df.drop_duplicates()

print("\nCleaned Dataset:\n", df_cleaned)
print("\nNumber of duplicate rows after cleaning:", df_cleaned.duplicated().sum())

Original Dataset:
    TransactionID Customer  Amount        Date
0            101    Alice     250  2023-01-01
1            102      Bob     150  2023-01-02
2            103  Charlie     300  2023-01-03
3            104    David     400  2023-01-04
4            104    David     400  2023-01-04
5            105      Eve     500  2023-01-05
6            106    Frank     600  2023-01-06
7            106    Frank     600  2023-01-06

Number of duplicate rows: 2

Cleaned Dataset:
    TransactionID Customer  Amount        Date
0            101    Alice     250  2023-01-01
1            102      Bob     150  2023-01-02
2            103  Charlie     300  2023-01-03
3            104    David     400  2023-01-04
5            105      Eve     500  2023-01-05
6            106    Frank     600  2023-01-06

Number of duplicate rows after cleaning: 0

QUESTION 4

In [2]:
import pandas as pd

data = {
    'EmployeeID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Salary': ['50000', '62000', '58000', '71000'],
    'Joining_Date': ['2020-05-21', '2019-08-15', '2021-01-10', '2018-11-30']
}

df = pd.DataFrame(data)

print("Original Data Types:\n", df.dtypes)

df['Salary'] = pd.to_numeric(df['Salary'])
df['Joining_Date'] = pd.to_datetime(df['Joining_Date'])

print("\nCorrected Data Types:\n", df.dtypes)
print("\nConverted Dataset:\n", df)

Original Data Types:
 EmployeeID       int64
Name            object
Salary          object
Joining_Date    object
dtype: object

Corrected Data Types:
 EmployeeID               int64
Name                    object
Salary                   int64
Joining_Date    datetime64[ns]
dtype: object

Converted Dataset:
    EmployeeID     Name  Salary Joining_Date
0           1    Alice   50000   2020-05-21
1           2      Bob   62000   2019-08-15
2           3  Charlie   58000   2021-01-10
3           4    David   71000   2018-11-30